{% extends 'layout.html.twig' %}

{% block title %}
	Notre équipe -
	{{ parent() }}
{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/highSchool.css">
{% endblock %}

{% block content %}
	<main class="container">
		<div class="background-line"></div>
		<div class="main-title">
			<div class="title-content">
				<div class="bloc-square"></div>
				<h3>
					<span>Découvrez</span><br/>notre lycée</h3>
			</div>
		</div>
		<div class="presentation">
			<div class="main-title">
				<div class="second-title">
					<div class="bloc-rectangle"></div>
					<h4>Presentation</h4>
				</div>
			</div>
			<div class="section">
				<div class="blueSection"></div>
				<div class="text">
					<h6>Notre Lycée</h6>
					<div class="notrelyceeImage"><img src="/assets/images/placeholderNotrelycee.jpg" alt="Jeannette Verdier"></div>
					<p>Le Lycée Jeanette Verdier est un établissement d'enseignement de premier plan qui offre une éducation de qualité à ses étudiants. Le Lycée Jeanette Verdier a été fondé avec pour mission d'offrir à ses élèves un environnement d'apprentissage stimulant et de les préparer à réussir dans leurs études supérieures et leur vie professionnelle. Grâce à une équipe enseignante qualifiée et dévouée, le lycée offre un large éventail de programmes académiques, y compris des filières technologiques et professionnelles, ainsi que des classes préparatoires aux grandes écoles. Le lycée est doté d'installations modernes et bien équipées pour soutenir l'apprentissage de ses étudiants, y compris des laboratoires scientifiques, des salles informatiques, des salles de sport, des bibliothèques, et bien plus encore. De plus, le lycée propose une variété d'activités extra-scolaires pour encourager le développement personnel et social de ses élèves, tels que des clubs de musique, de théâtre, de sports, de débats, etc. Le Lycée Jeanette Verdier est fier de sa réputation en tant qu'établissement d'enseignement de qualité supérieure et de sa capacité à préparer ses étudiants à exceller dans leurs études futures et leur vie professionnelle.</p>
				</div>
			</div>
			<div class="section">
				<div class="blueSection"></div>
				<div class="text">
					<h6>Bienvenue à toutes et à tous !</h6>
					<p>Fondé en 1963 à Montargis, à l’époque de la vaste démocratisation de l’enseignement technique, le C.E.T. Jeannette-Verdier a été transplanté dans les anciens bâtiments du « Cours Durzy » en 1994, au moment de l’ouverture du lycée général et technologique à Villemandeur – la façade historique de l’avenue Gaillardin en atteste toujours. Le « lycée technique nationalisé » intègre alors le maillage scolaire des six lycées du Montargois. Devenu lycée professionnel, il accueille en cette rentrée un peu plus de 550 élèves. Il accueille des sections historiques (vêtement-flou), des métiers de l’accueil, du commerce et de la vente ainsi que ceux de la gestion-administration liés à un pôle transport-logistique qui a emménagé dans l’ancien gymnase en 2013, une ULIS-pro. recrutant des élèves affectés de troubles des fonctions cognitives. Enfin, le lycée porte l’atelier de remobilisation à temps plein (ARTP) pour des élèves du Giennois et du Montargois. Structure pleine de ressources, hébergeant les locaux du CFA-Est Loiret, le lycée est en bordure du centre-ville et offre une structure scolaire à taille humaine, avec un internat de 110 places. J’ai l’honneur de diriger le lycée aux côtés du Proviseur-adjoint, Olivier Dreyfus, de l’adjointe-Gestionnaire, Miréla Denys et de notre nouvelle directrice déléguée aux formations professionnelles et technologiques (DDFPT), Chrystèle Adam. Les équipes intègrent de nouveaux collègues en postes partagés à qui nous devons réserver le meilleur accueil ; l’équipe médico-sociale et de Vie scolaire est supervisée par Laurent Denis, Conseiller Principal d’Education, à qui se joint cette année Alexandrine Beauvais ; Sophie Nègre est notre infirmière scolaire ; au secrétariat de direction, Bochra Moujib et au secrétariat de gestion Anissa Djéra, dont nous sommes heureux du retour. Enfin, Frédéric Théo pour le service général et Romain Demilly pour la restauration coordonnent les équipes des agents techniques de la Région Centre-Val de Loire. Malgré les conditions exceptionnelles du printemps 2020 et les suites de la crise sanitaire mondiale en 2021, le lycée Verdier peut encore cette année se montrer fier des résultats obtenus aux examens comme en matière d’orientation des élèves de Terminale Dans le contexte actuel, l’Ecole française reste l’institution fondamentale de la république, porteuse de valeurs puissantes héritées de l’humanisme européen, des Lumières, et tournées vers un XXIe siècle à construire : une ère numérique, une citoyenneté ouverte sur la planète et renouvelée par les combats contre toutes les dominations indues, les différences des êtres, la découverte des choses. La crise sanitaire ajoute une difficulté à la complexité : il ne nous en revient pas moins de donner à tous les élèves qui nous sont confiés les clefs, les outils et les armes nécessaires à leur épanouissement dans le monde qui vient. Vaste horizon !</p>
					<p>Je souhaite à chacun une excellente année scolaire.</p>
					<p>Le Proviseur,</p>
				</div>
			</div>
			<div class="section">
				<div class="blueSection"></div>
				<div class="text">
					<h6>Qui est Jeannette Verdier ?</h6>
					<div class="textSection">
						<div class="JeannetteImage"><img src="/assets/images/jeannetteVerdier.png" alt="Jeannette Verdier"></div>
						<p>Jeannette Dauliac est née le 12 février 1911 à Gourdon dans le département du Lot. Entrée dans l'enseignement, elle est nommée à Floirac, puis affectée dans le département de l'Eure. Son mariage avec un collègue, Maurice Verdier, entraîna leur nomination conjointe pour la rentrée 1937 à Nargis, tout près de Montargis. Face à l’Occupation, les Verdier entrent dans la Résistance, par le réseau de Pierre Charié, alias Etienne Leblanc. La maison d'école de Nargis devient un lieu de rassemblement clandestin et l'un des lieux d'hébergement de la radio britannique, pour le réseau de Lilian Rolfe, opératrice radio parachutée depuis l’Angleterre et qui rejoint Nargis après la destruction de son premier réseau par la Gestapo d’Orléans. Fin juillet 1944, à quelques jours de la retraite allemande, la Gestapo de Montargis organise un dernier ratissage de tous les résistants connus ou soupçonnés. Lilian Rolfe, Jeannette Verdier, puis Maurice Verdier sont arrêtés. Le 31 juillet 1944 les Verdier sont déportés avec leurs compagnons vers les camps d’extermination nazis. Maurice Verdier est interné à Buchenwald puis Nordhausen-Dora. Jeannette Verdier, enceinte de son second enfant, traverse plusieurs camps de concentration et principalement Ravensbrück, où elle accouche d’un fils aussitôt disparu. Elle recouvre la liberté le 27 juin 1945 et apprend le décès de son époux survenu à Elrich en décembre 1944 consécutivement à une congestion pulmonaire. Elle-même très malade, elle lui survit jusqu’au 18 avril 1947, date à laquelle la tuberculose l'emporte à l’âge de 36 ans.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="employee">
			<div class="main-title">
				<div class="second-title">
					<div class="bloc-rectangle"></div>
					<h4>Notre équipe</h4>
				</div>
			</div>
			<div class="section">
				<div class="blueSection"></div>
				<div class="text">
					<div class="notrelyceeImage"><img src="/assets/images/placeholderNotrelycee.jpg" alt="Jeannette Verdier"></div>
					<p>Cette équipe est composée de professionnels qualifiés et engagés, qui travaillent ensemble pour offrir aux élèves un environnement d'apprentissage stimulant et bienveillant. Le corps enseignant est composé d'enseignants expérimentés et passionnés, qui transmettent leur savoir avec enthousiasme et engagement. Ils sont disponibles pour accompagner les élèves dans leur parcours scolaire et pour les aider à atteindre leurs objectifs. Le personnel administratif est également essentiel au bon fonctionnement du lycée. Les secrétaires, les gestionnaires et les agents d'entretien contribuent tous à créer un environnement propice à l'apprentissage, en assurant la gestion administrative et matérielle de l'établissement. Enfin, les documentalistes du CDI et les éducateurs sportifs de l'AS jouent également un rôle important dans la vie du lycée. Ils contribuent à l'enrichissement culturel et sportif des élèves, en leur offrant des ressources et des activités variées. Si vous souhaitez en savoir plus sur l'équipe du Lycée Jeanette Verdier, vous pouvez consulter notre page web dédiée, qui liste l'ensemble des employés de l'établissement :</p>
					<a href="/notre-equipe" role="button" class="button">ICI</a>
				</div>
			</div>
		</div>
		<div class="internat">
			<div class="main-title">
				<div class="second-title">
					<div class="bloc-rectangle"></div>
					<h4>Notre internat
					</h4>
				</div>
				<div class="section">
					<div class="blueSection"></div>
					<div class="text">
						<div class="notrelyceeImage"><img src="/assets/images/placeholderNotrelycee.jpg" alt="Jeannette Verdier"></div>
						<p>L'internat du Lycée Jeanette Verdier est un lieu de vie agréable et sécurisé, qui permet aux élèves de vivre une expérience d'apprentissage optimale. Il propose des chambres confortables et bien équipées, qui offrent un espace de travail et de détente adapté aux besoins de chaque élève. Les chambres sont équipées de lits, d'armoires, de bureaux et de chaises, ainsi que d'une connexion Internet haut débit pour les travaux de recherche et les échanges avec les familles. Les espaces communs de l'internat sont également bien aménagés pour répondre aux besoins des élèves. Des salles d'étude sont mises à disposition des élèves pour leur permettre de travailler dans un environnement calme et propice à la concentration. Les salles communes sont équipées de télévisions, de tables de ping-pong, de baby-foot et d'autres équipements pour les moments de détente. Des cuisines sont également à disposition des élèves pour préparer leurs propres repas ou pour participer à des activités culinaires organisées par l'équipe d'encadrement. Les repas servis à l'internat sont préparés avec soin pour répondre aux besoins nutritionnels des élèves. Des menus équilibrés et variés sont proposés pour garantir une alimentation saine et équilibrée. L'équipe de restauration est attentive aux besoins spécifiques des élèves (allergies, régimes spécifiques, etc.) pour garantir un service de qualité. L'équipe d'encadrement de l'internat est composée de surveillants qualifiés et dévoués, qui sont présents pour accompagner les élèves dans leur vie quotidienne. Ils sont à l'écoute des besoins des élèves et sont disponibles pour répondre à leurs questions ou pour les aider dans leurs démarches administratives. Des séances de soutien scolaire sont également proposées pour accompagner les élèves dans leur réussite. L'internat du Lycée Jeanette Verdier offre une atmosphère de camaraderie et de soutien, qui permet aux élèves de se concentrer sur leurs études et de développer leur autonomie. Les échanges et les activités proposées à l'internat permettent aux élèves de développer des liens forts entre eux et avec l'équipe d'encadrement. En résumé, l'internat du Lycée Jeanette Verdier offre aux élèves un espace de vie sécurisé, confortable et adapté à leurs besoins. Il leur permet de poursuivre leur formation au sein de l'établissement dans les meilleures conditions possibles, tout en développant leur autonomie et en tissant des liens forts avec les autres élèves et l'équipe d'encadrement.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="CDI">
			<div class="main-title">
				<div class="second-title">
					<div class="bloc-rectangle"></div>
					<h4>Notre CDI
					</h4>
				</div>
				<div class="section">
					<div class="blueSection"></div>
					<div class="text">
						<div class="notrelyceeImage"><img src="/assets/images/placeholderNotrelycee.jpg" alt="Jeannette Verdier"></div>
						<p>le Centre de Documentation et d'Information (CDI) du Lycée Jeanette Verdier est un lieu incontournable pour les élèves souhaitant approfondir leurs connaissances et développer leur curiosité intellectuelle. Le CDI est un lieu de travail et de recherche, qui offre aux élèves un espace confortable et bien équipé pour la lecture, la consultation de documents et la recherche d'informations. Les élèves peuvent y accéder pendant les heures d'ouverture pour emprunter des livres, des magazines, des journaux et des documents audiovisuels, ainsi que pour utiliser les ordinateurs mis à disposition. Le CDI propose une grande variété de documents, qui couvrent tous les domaines d'enseignement du lycée. Les élèves peuvent ainsi trouver des ouvrages de référence, des manuels scolaires, des romans, des essais, des bandes dessinées, des documentaires, etc. L'ensemble des documents est classé selon un système de classification clair et facile à utiliser, qui permet aux élèves de trouver rapidement ce qu'ils cherchent. Le personnel du CDI est également à disposition des élèves pour les aider dans leurs recherches et pour répondre à leurs questions. Les documentalistes sont des professionnels qualifiés, qui sont formés pour aider les élèves à trouver les documents les plus pertinents et à les utiliser efficacement. Ils sont disponibles pour donner des conseils de lecture, pour aider les élèves à se servir des outils de recherche en ligne et pour les accompagner dans la réalisation de leurs travaux scolaires. Le CDI est également un lieu d'ouverture culturelle, qui propose régulièrement des événements et des animations pour éveiller la curiosité des élèves. Des expositions, des conférences, des projections de films, des rencontres avec des auteurs, des ateliers de lecture, etc., sont régulièrement organisés pour enrichir la culture générale des élèves et pour les sensibiliser à des sujets d'actualité. En résumé, le CDI du Lycée Jeanette Verdier est un lieu de travail, de recherche et de découverte, qui offre aux élèves un accès privilégié à une grande variété de documents et de ressources. Il est encadré par une équipe de professionnels qualifiés, qui sont disponibles pour accompagner les élèves dans leurs projets et leurs recherches. Le CDI est également un lieu d'échanges culturels et d'ouverture sur le monde, qui propose régulièrement des événements et des animations pour stimuler la curiosité intellectuelle des élèves.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="sport">
			<div class="main-title">
				<div class="second-title">
					<div class="bloc-rectangle"></div>
					<h4>Nos associations sportives
					</h4>
				</div>
				<div class="section">
					<div class="blueSection"></div>
					<div class="text">
						<div class="notrelyceeImage"><img src="/assets/images/placeholderNotrelycee.jpg" alt="Jeannette Verdier"></div>
						<p>Cette association permet aux élèves de pratiquer des activités sportives en dehors des cours et de s'engager dans des compétitions et des rencontres inter-établissements. L'AS offre un large choix d'activités sportives, qui répondent aux goûts et aux besoins de chacun. Les élèves peuvent ainsi pratiquer des sports collectifs comme le football, le basket-ball ou le handball, mais aussi des sports individuels comme l'athlétisme, la natation ou le tennis de table. L'AS du Lycée Jeanette Verdier permet également aux élèves de participer à des compétitions et à des rencontres sportives, aussi bien au niveau local que régional. Cela leur permet de représenter leur établissement et de développer leur esprit d'équipe, tout en pratiquant leur sport favori. Enfin, l'AS est également un lieu de rencontre et d'échange pour les élèves passionnés de sport. C'est l'occasion pour eux de se retrouver en dehors des cours et de partager leur passion avec d'autres élèves, tout en développant leur sociabilité et leur esprit de groupe. résumé, l'Association Sportive du Lycée Jeanette Verdier permet aux élèves de pratiquer des activités sportives en dehors des cours, de participer à des compétitions et à des rencontres inter-établissements, tout en développant leur esprit d'équipe et leur sociabilité.</p>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
