{% extends 'layout.html.twig' %}

{% block title %}
	Notre équipe -
	{{ parent() }}
{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/ourHighSchool.css">
{% endblock %}

{% block content %}
	<main class="container">
		<div class="background-line"></div>
		<div class="main-title">
			<div class="title-content">
				<div class="bloc-square"></div>
				<h3>
					<span>Découvrez</span><br/>notre lycée</h3>
			</div>
		</div>
		<div class="presentation">
			<div class="main-title">
				<div class="second-title">
					<div class="bloc-rectangle"></div>
					<h4>Presentation</h4>
				</div>
				<div class="provisorWord">
					<h6>Bienvenue à toutes et à tous !</h6>
					<p>Fondé en 1963 à Montargis, à l’époque de la vaste démocratisation de l’enseignement technique, le C.E.T. Jeannette-Verdier a été transplanté dans les anciens bâtiments du « Cours Durzy » en 1994, au moment de l’ouverture du lycée général et technologique à Villemandeur – la façade historique de l’avenue Gaillardin en atteste toujours. Le « lycée technique nationalisé » intègre alors le maillage scolaire des six lycées du Montargois. Devenu lycée professionnel, il accueille en cette rentrée un peu plus de 550 élèves. Il accueille des sections historiques (vêtement-flou), des métiers de l’accueil, du commerce et de la vente ainsi que ceux de la gestion-administration liés à un pôle transport-logistique qui a emménagé dans l’ancien gymnase en 2013, une ULIS-pro. recrutant des élèves affectés de troubles des fonctions cognitives. Enfin, le lycée porte l’atelier de remobilisation à temps plein (ARTP) pour des élèves du Giennois et du Montargois.</p>
					<p>Structure pleine de ressources, hébergeant les locaux du CFA-Est Loiret, le lycée est en bordure du centre-ville et offre une structure scolaire à taille humaine, avec un internat de 110 places.</p>
					<p>J’ai l’honneur de diriger le lycée aux côtés du Proviseur-adjoint, Olivier Dreyfus, de l’adjointe-Gestionnaire, Miréla Denys et de notre nouvelle directrice déléguée aux formations professionnelles et technologiques (DDFPT), Chrystèle Adam. Les équipes intègrent de nouveaux collègues en postes partagés à qui nous devons réserver le meilleur accueil ; l’équipe médico-sociale et de Vie scolaire est supervisée par Laurent Denis, Conseiller Principal d’Education, à qui se joint cette année Alexandrine Beauvais ; Sophie Nègre est notre infirmière scolaire ; au secrétariat de direction, Bochra Moujib et au secrétariat de gestion Anissa Djéra, dont nous sommes heureux du retour.</p>
					<p>Enfin, Frédéric Théo pour le service général et Romain Demilly pour la restauration coordonnent les équipes des agents techniques de la Région Centre-Val de Loire.</p>
					<p>Malgré les conditions exceptionnelles du printemps 2020 et les suites de la crise sanitaire mondiale en 2021, le lycée Verdier peut encore cette année se montrer fier des résultats obtenus aux examens comme en matière d’orientation des élèves de Terminale</p>
					<p>Dans le contexte actuel, l’Ecole française reste l’institution fondamentale de la république, porteuse de valeurs puissantes héritées de l’humanisme européen, des Lumières, et tournées vers un XXIe siècle à construire : une ère numérique, une citoyenneté ouverte sur la planète et renouvelée par les combats contre toutes les dominations indues, les différences des êtres, la découverte des choses.</p>
					<p>La crise sanitaire ajoute une difficulté à la complexité : il ne nous en revient pas moins de donner à tous les élèves qui nous sont confiés les clefs, les outils et les armes nécessaires à leur épanouissement dans le monde qui vient. Vaste horizon !</p>
					<p>Je souhaite à chacun une excellente année scolaire.</p>
					<p>Le Proviseur,</p>
				</div>
				<div class="provisorWord">
					<h6>Qui est Jeannette Verdier ?</h6>
					<p>Jeannette Dauliac est née le 12 février 1911 à Gourdon dans le département du Lot. Entrée dans l'enseignement, elle est nommée à Floirac, puis affectée dans le département de l'Eure. Son mariage avec un collègue, Maurice Verdier, entraîna leur nomination conjointe pour la rentrée 1937 à Nargis, tout près de Montargis. Face à l’Occupation, les Verdier entrent dans la Résistance, par le réseau de Pierre Charié, alias Etienne Leblanc. La maison d'école de Nargis devient un lieu de rassemblement clandestin et l'un des lieux d'hébergement de la radio britannique, pour le réseau de Lilian Rolfe, opératrice radio parachutée depuis l’Angleterre et qui rejoint Nargis après la destruction de son premier réseau par la Gestapo d’Orléans. Fin juillet 1944, à quelques jours de la retraite allemande, la Gestapo de Montargis organise un dernier ratissage de tous les résistants connus ou soupçonnés. Lilian Rolfe, Jeannette Verdier, puis Maurice Verdier sont arrêtés. Le 31 juillet 1944 les Verdier sont déportés avec leurs compagnons vers les camps d’extermination nazis. Maurice Verdier est interné à Buchenwald puis Nordhausen-Dora. Jeannette Verdier, enceinte de son second enfant, traverse plusieurs camps de concentration et principalement Ravensbrück, où elle accouche d’un fils aussitôt disparu. Elle recouvre la liberté le 27 juin 1945 et apprend le décès de son époux survenu à Elrich en décembre 1944 consécutivement à une congestion pulmonaire. Elle-même très malade, elle lui survit jusqu’au 18 avril 1947, date à laquelle la tuberculose l'emporte à l’âge de 36 ans.</p>
				</div>
			</div>
		</div>
		<div class="employee">
			<div class="main-title">
				<div class="second-title">
					<div class="bloc-rectangle"></div>
					<h4>Notre équipe</h4>
				</div>
			</div>
		</div>
		<div class="internat">
			<div class="main-title">
				<div class="second-title">
					<div class="bloc-rectangle"></div>
					<h4>Notre internat
					</h4>
				</div>
			</div>
		</div>
		<div class="CDI">
			<div class="main-title">
				<div class="second-title">
					<div class="bloc-rectangle"></div>
					<h4>Notre CDI
					</h4>
				</div>
			</div>
		</div>
		<div class="sport">
			<div class="main-title">
				<div class="second-title">
					<div class="bloc-rectangle"></div>
					<h4>Nos associations sportives
					</h4>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
