{% extends 'layout.html.twig' %}

{% block title %}
	Notre lycée -
	{{ parent() }}
{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/highSchool.css">
{% endblock %}

{% block content %}
	<main class="container">
		<div class="background-line"></div>
		<div class="main-title">
			<div class="title-content">
				<div class="bloc-square"></div>
				<h3>
					<span>Découvrez</span><br/>notre lycée</h3>
			</div>
		</div>

		<div class="second-title">
			<div class="bloc-rectangle"></div>
			<h4>Presentation</h4>
		</div>


		<section class="presentation">

			<div class="presentation-content">
				<div class="presentation-image">
					<img src="/assets/images/lycee-jeanette.jpg" alt="Jeannette Verdier">
				</div>
				<div class="text-content">
					<p>Le Lycée Jeanette Verdier est un établissement d'enseignement de premier plan qui offre une éducation de qualité à ses étudiants. Le Lycée Jeanette Verdier a été fondé avec pour mission d'offrir à ses élèves un environnement d'apprentissage stimulant et de les préparer à réussir dans leurs études supérieures et leur vie professionnelle. Grâce à une équipe enseignante qualifiée et dévouée, le lycée offre un large éventail de programmes académiques, y compris des filières technologiques et professionnelles, ainsi que des classes préparatoires aux grandes écoles.<br>Le lycée est doté d'installations modernes et bien équipées pour soutenir l'apprentissage de ses étudiants, y compris des laboratoires scientifiques, des salles informatiques, des salles de sport, des bibliothèques, et bien plus encore. De plus, le lycée propose une variété d'activités extra-scolaires pour encourager le développement personnel et social de ses élèves, tels que des clubs de musique, de théâtre, de sports, de débats, etc. Le Lycée Jeanette Verdier est fier de sa réputation en tant qu'établissement d'enseignement de qualité supérieure et de sa capacité à préparer ses étudiants à exceller dans leurs études futures et leur vie professionnelle.</p>
				</div>
				<details>
					<summary role="button">Mais qui est Jeannette Verdier ?</summary>
					<div class="jeannette">
						<div class="presentation-jeannette">
							<img src="/assets/images/jeannette-verdier.jpg" alt="Jeannette Verdier"/>
							<h5>Un peu de culture ça fait pas de mal !</h5>
							<p>
								Jeannette Verdier était une résistante française pendant la Seconde Guerre mondiale. Elle est née le 29 mars 1922 à Paris et a grandi dans une famille modeste. Pendant l'occupation allemande de la France, elle a rejoint le réseau de résistance Combat. Elle a été arrêtée par la Gestapo en juin 1944, alors qu'elle était en mission à Paris. Elle a été emprisonnée et torturée avant d'être déportée au camp de concentration de Ravensbrück en Allemagne. Elle y est morte le 8 mars 1945, à l'âge de 22 ans. Jeannette Verdier est devenue un symbole de la résistance française pendant la Seconde Guerre mondiale, en particulier pour les jeunes générations. Le lycée professionnel de Montargis a été nommé en son honneur pour rappeler son sacrifice et son engagement pour la liberté et la justice.
							</p>
						</div>
					</div>
				</details>
				<details>
					<summary role="button">Le mot du proviseur</summary>
					<div class="jeannette">
						<div class="mot-proviseur">
							<h5>Bienvenue à toutes et à tous !</h5>
							<p>Le C.E.T. Jeannette-Verdier a été fondé en 1963 à Montargis pour répondre à la démocratisation de l'enseignement technique. En 1994, il a été transféré dans les anciens bâtiments du « Cours Durzy » au moment de l'ouverture du lycée général et technologique à Villemandeur, mais la façade historique de l'avenue Gaillardin témoigne encore de son histoire. Le lycée professionnel compte actuellement plus de 550 élèves et propose des sections historiques, des métiers de l'accueil, du commerce et de la vente, ainsi que des métiers de la gestion-administration liés à un pôle transport-logistique. Il accueille également une ULIS-pro pour les élèves ayant des troubles des fonctions cognitives, ainsi qu'un atelier de remobilisation à temps plein pour les élèves du Giennois et du Montargois. Le lycée abrite les locaux du CFA-Est Loiret et dispose d'un internat de 110 places. L'auteur de cet écrit est le directeur du lycée, qui est fier des résultats obtenus aux examens et de l'orientation des élèves de Terminale malgré les conditions exceptionnelles du printemps 2020 et de la crise sanitaire mondiale en 2021. L'auteur souligne l'importance de l'école française dans la société, porteuse de valeurs héritées de l'humanisme européen et des Lumières, et tournée vers un XXIe siècle à construire. La crise sanitaire a ajouté des difficultés, mais le lycée est déterminé à donner à tous les élèves les outils nécessaires pour s'épanouir dans le monde à venir.</p>
							<p>Je souhaite à chacun une excellente année scolaire.</p>
							<p>Le Proviseur,</p>
						</div>
					</div>
				</details>
			</div>
		</section>

		<div class="second-title">
			<div class="bloc-rectangle"></div>
			<h4>Notre équipe</h4>
		</div>

		<section class="presentation-team">
			<div class="team-content">
				<h5>
					<span>Découvrez</span><br>
					toute l'équipe<br>
					<span>pédagogique</span>
				</h5>
				<a href="/notre-equipe" role="button" class="button">En savoir plus</a>
			</div>
		</div>
	</div>

	<section class="internat">
		<div class="main-title">
			<div class="second-title">
				<div class="bloc-rectangle"></div>
				<h4>Notre internat
				</h4>
			</div>
			<div>
				<img src="/assets/images/mosaic.jpg" class="notrelyceeImage" alt="Photo de l'internat"/>
				<div class="internat-content">
					<div class="internat-card">
						<p>
							<span>100</span><br>
							places</p>
					</div>
					<div class="internat-description">
						<p>L'internat du Lycée Jeanette Verdier est un lieu de vie agréable et sécurisé, qui permet aux élèves de vivre une expérience d'apprentissage optimale. Il propose des chambres confortables et bien équipées, qui offrent un espace de travail et de détente adapté aux besoins de chaque élève. Les chambres sont équipées de lits, d'armoires, de bureaux et de chaises, ainsi que d'une connexion Internet haut débit pour les travaux de recherche et les échanges avec les familles. Les espaces communs de l'internat sont également bien aménagés pour répondre aux besoins des élèves. Des salles d'étude sont mises à disposition des élèves pour leur permettre de travailler dans un environnement calme et propice à la concentration. Les salles communes sont équipées de télévisions, de tables de ping-pong, de baby-foot et d'autres équipements pour les moments de détente. Des cuisines sont également à disposition des élèves pour préparer leurs propres repas ou pour participer à des activités culinaires organisées par l'équipe d'encadrement. Les repas servis à l'internat sont préparés avec soin pour répondre aux besoins nutritionnels des élèves. Des menus équilibrés et variés sont proposés pour garantir une alimentation saine et équilibrée. L'équipe de restauration est attentive aux besoins spécifiques des élèves (allergies, régimes spécifiques, etc.) pour garantir un service de qualité. L'équipe d'encadrement de l'internat est composée de surveillants qualifiés et dévoués, qui sont présents pour accompagner les élèves dans leur vie quotidienne. Ils sont à l'écoute des besoins des élèves et sont disponibles pour répondre à leurs questions ou pour les aider dans leurs démarches administratives. Des séances de soutien scolaire sont également proposées pour accompagner les élèves dans leur réussite. L'internat du Lycée Jeanette Verdier offre une atmosphère de camaraderie et de soutien, qui permet aux élèves de se concentrer sur leurs études et de développer leur autonomie. Les échanges et les activités proposées à l'internat permettent aux élèves de développer des liens forts entre eux et avec l'équipe d'encadrement. En résumé, l'internat du Lycée Jeanette Verdier offre aux élèves un espace de vie sécurisé, confortable et adapté à leurs besoins. Il leur permet de poursuivre leur formation au sein de l'établissement dans les meilleures conditions possibles, tout en développant leur autonomie et en tissant des liens forts avec les autres élèves et l'équipe d'encadrement.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="second-title">
		<div class="bloc-rectangle"></div>
		<h4>Notre CDI</h4>
	</div>
	<section class="presentation">
		<div class="presentation-content">
			<div class="presentation-image">
				<img src="/assets/images/cdi.jpg" alt="Jeannette Verdier">
			</div>
			<div class="text-content">
				<p>Le Lycée Jeanette Verdier est un établissement d'enseignement de premier plan qui offre une éducation de qualité à ses étudiants. Le Lycée Jeanette Verdier a été fondé avec pour mission d'offrir à ses élèves un environnement d'apprentissage stimulant et de les préparer à réussir dans leurs études supérieures et leur vie professionnelle. Grâce à une équipe enseignante qualifiée et dévouée, le lycée offre un large éventail de programmes académiques, y compris des filières technologiques et professionnelles, ainsi que des classes préparatoires aux grandes écoles.<br>Le lycée est doté d'installations modernes et bien équipées pour soutenir l'apprentissage de ses étudiants, y compris des laboratoires scientifiques, des salles informatiques, des salles de sport, des bibliothèques, et bien plus encore. De plus, le lycée propose une variété d'activités extra-scolaires pour encourager le développement personnel et social de ses élèves, tels que des clubs de musique, de théâtre, de sports, de débats, etc. Le Lycée Jeanette Verdier est fier de sa réputation en tant qu'établissement d'enseignement de qualité supérieure et de sa capacité à préparer ses étudiants à exceller dans leurs études futures et leur vie professionnelle.</p>
			</div>
		</div>
	</section>

	<div class="second-title">
		<div class="bloc-rectangle"></div>
		<h4>Notre Association Sportive</h4>
	</div>
	<section class="presentation">
		<div class="presentation-content">
			<div class="presentation-image">
				<img src="/assets/images/assos-sport.jpg" alt="Jeannette Verdier">
			</div>
			<div class="text-content">
				<p>Cette association permet aux élèves de pratiquer des activités sportives en dehors des cours et de s'engager dans des compétitions et des rencontres inter-établissements. L'AS offre un large choix d'activités sportives, qui répondent aux goûts et aux besoins de chacun. Les élèves peuvent ainsi pratiquer des sports collectifs comme le football, le basket-ball ou le handball, mais aussi des sports individuels comme l'athlétisme, la natation ou le tennis de table. L'AS du Lycée Jeanette Verdier permet également aux élèves de participer à des compétitions et à des rencontres sportives, aussi bien au niveau local que régional. Cela leur permet de représenter leur établissement et de développer leur esprit d'équipe, tout en pratiquant leur sport favori. Enfin, l'AS est également un lieu de rencontre et d'échange pour les élèves passionnés de sport. C'est l'occasion pour eux de se retrouver en dehors des cours et de partager leur passion avec d'autres élèves, tout en développant leur sociabilité et leur esprit de groupe. résumé, l'Association Sportive du Lycée Jeanette Verdier permet aux élèves de pratiquer des activités sportives en dehors des cours, de participer à des compétitions et à des rencontres inter-établissements, tout en développant leur esprit d'équipe et leur sociabilité.</p>
			</div>
		</div>
	</section>
</main>{% endblock %}
