{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block content %}
	<header class="container event">
		<div class="event-image">
			<img src="/assets/images/placeholder_event.webp" alt="photo de l'événement">
		</div>
		<article clas="event-content">
			<div class="titre">
				<h3>
					{{ actualities.title }}
				</h3>
			</div>
			<p class="event-text">
				{{ actualities.content }}
			</p>
			<a href="#" role="button">EN SAVOIR PLUS</a>
		</article>
	</header>
{% endblock %}
