:root {
    --form-element-spacing-vertical: 0.5rem;
    --form-element-spacing-horizontal: 0.5rem;
}

.container {
    width: var(--clamp60);
    position: relative;
}

.error {
    color: var(--errorColor);
    margin-bottom: var(--spacing1);
}

.form {
    display: flex;
    flex-direction: column;
}

input,
textarea,
select {
    background-color: var(--light);
    width: 100%;
}

label {
    font-size: var(--sizeText);
    color: var(--light);
}

input, select {
    font-size: var(--sizeText);
}

.formPage {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    color: var(--light);
    padding: var(--spacing3);
    box-shadow: var(--box-shadow);
    border-radius: var(--spacing);
    position: relative;
    z-index: var(--firstPlan);
    width: 100%;
    margin: auto;
}

.nameFlex {
    display: flex;
    gap: var(--spacing1);
}

.logoContact {
    align-self: center;
    justify-self: center;
    margin-right: var(--spacing2);
    width: clamp(215px, 25vw, 500px);
}

textarea {
    height: 150px;
    resize: none;
}

form button {
    align-self: flex-end;
    margin-top: var(--spacing1);
    background-color: var(--secondary);
    color: var(--light);
    width: 150px;
    font-size: var(--sizeText);
}

@media screen and (max-width: 1023px) {
    .formPage {
        flex-direction: column;
        padding: var(--spacing3);
    }

    .logoContact {
        align-self: center;
        justify-self: center;
        margin-right: var(--spacing2);
    }

    .nameFlex {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .container {
       width: var(--clamp90);
    }

}
