@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@400;500;600&family=Cinzel+Decorative:wght@400;700&family=Roboto&display=swap');
@import url(style.css);

:root {
    --dark: #020f1e;
    --light: #f2f3f5;

    --form-element-spacing-vertical: 0.5rem;
    --form-element-spacing-horizontal: 0.5rem;
    --font-size: 1rem;
}


body {
    background-image: url(../images/imagesContact/backgroungRed.png);
    background-position: 27%;
    background-size: 200px;
}

.TitleContact{
    margin-bottom: 0px;
    margin-top: var(--spacing3);
}

img {
    width: 100%;
    object-fit: cover;
}

.container {
    width: 60vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    margin-left: calc(var(--spacing2) + var(--spacing) );
}

h2 {
    font-size: clamp(1.1rem, 3.9vw, 1.9rem);
    margin-left: calc(var(--spacing2) + var(--spacing) );
    margin-top: var(--spacing1);
}

.mainTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-image: url(../images/imagesContact/fondJaune.png);
    background-size: 180px;
    background-position: top 1%;
}

.traitGris {
    height: 5px;
    width: 250px;
    margin-top: var(--spacing3);
    margin-left: calc(var(--spacing2) + var(--spacing) );
}

input,
textarea,
select {
    background-color: var(--light);
    width: 100%;
}


input {
    background-image: 'logoContact.png';
}


label {
    color: var(--light);
}

.formPage {
    display: flex;
    justify-content: space-around;
    background-color: var(--primary);
    color: var(--light);
    padding: calc(var(--spacing1) + var(--spacing) );
    box-shadow: var(--shadow);
    border-radius: var(--spacing);
}

.nameFlex {
    display: flex;
    gap: calc(var(--spacing1) + var(--spacing) );
}

.logoContact {
    align-self: center;
    justify-self: center;
    width: 25%;
    margin-right: var(--spacing2);
}

textarea {
    height: 150px;
    resize: none;
}

.button {
    display: flex;
    justify-content: flex-end;
}

button {
    margin-top: var(--spacing1);
    background-color: #FFAD33;
    color: var(--light);
    width: 150px;

}

@media screen and (max-width: 1100px) {
    .formPage {
        flex-direction: column;
        padding: var(--spacing3);

    }

    .nameFlex {
        display: block;
    }
    .mainTitle{
        background-size: 190x;
    }
    .logoContact{
        margin-right: 0px;
    }
}

@media screen and (max-width: 900px){
    .mainTitle{
        background-size: 170px;
    }
} 

@media screen and (max-width: 700px) {
    body{
        background-size: 150px;
    }
    .formPage {
        padding: var(--spacing2);
    }

    .container {
        width: 90vw;
    }
     .mainTitle{
        background-size: 140px;
    }
    .traitGris{
        width: 150px;
    }
}