.container {
    width: var(--clamp60);
}

.presentation {
    background-color: var(--backgroundCard);
    box-shadow: var(--box-shadow);
    color: var(--dark);
    position: relative;
    backdrop-filter: blur(15px);
    z-index: var(--firstPlan);
}

.presentation-image {
    height: auto;
    overflow: hidden;
}

.text-content {
    position: relative;
}

.text-content::before {
    content: " ";
    background: var(--primary);
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

p {
    font-size: var(--sizeText);
}

.text-content > p {
    --typography-spacing-vertical: 0;
    padding: var(--spacing2);
}

.presentation details {
    margin: 0;
    padding: 0;
    background-color: var(--primary);
}

.presentation summary[role="button"] {
    background-color: var(--primary);
    border-radius: 0;
    margin-bottom: 0;
}

.jeannette img {
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    filter: drop-shadow(var(--box-shadow));
    z-index: var(--firstPlan);
}

.presentation-jeannette {
    margin: auto;
    margin-top: var(--spacing5);
    padding: var(--spacing6) var(--spacing3) var(--spacing3) var(--spacing3);
    background-color: var(--primary-light);
    width: 90%;
    position: relative;
}
.jeannette {
    position: relative;
    height: auto;
    padding: var(--spacing2);
}

.presentation-jeannette > h5, .presentation-jeannette > p {
    color: var(--light);
}

.mot-proviseur h5, .mot-proviseur p {
    color: var(--light);
    padding: 0 var(--spacing2);
}


.button {
    background-color: var(--secondary);
    color: var(--light);
}

.textSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing1);
}

.team-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("/assets/images/teams.webp");
    background-size: cover;
    background-position: center;
    height: 30rem;
    width: 100%;
    box-shadow: var(--box-shadow);
}

.team-content > h5 {
    color: var(--light);
    padding: var(--spacing2) clamp(10px, 10vw, 100px);
    border: 2px solid var(--light);
    text-transform: uppercase;
    font-family: var(--fontTitle);
    font-weight: 400;
}

.team-content span {
    font-family: var(--fontTitle);
    color: var(--secondary);
    font-size: 2.5rem;
}

.team-content a {
    padding: var(--spacing);
    font-size: var(--sizeText);
}

.internat-content {
    display: flex;
    gap: .2rem;
    margin-top: .2rem;
}

.internat-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    height: 15rem;
    width: 15rem;
}

.internat-card > p {
    color: var(--light);
    font-size: 1.5rem;
    margin-bottom: 0;
    text-align: center;
}

.internat-card > p > span {
    font-size: 3.5rem;
    font-weight: bold;
}

.internat-description {
    width: 80%;
    height: 15rem;
    overflow: auto;
    background-color: var(--primary-light);
    scrollbar-width: thin;
    scrollbar-color: var(--light) var(--primary-light);
}

.internat-description > p {
    --typography-spacing-vertical: 0;
    color: var(--light);
    padding: var(--spacing2);
}

@media screen and (max-width: 767px) {
    .container{
        width: var(--clamp90);
    }
    .textSection{
        display:flex;
        flex-direction: column;
    }
}