@import url(style.css);

.container{
    width: var(--clamp60);
}

div.section {
    background-color: var(--backgroundCard);
    box-shadow: var(--box-shadow);
    color: var(--dark);
    position: relative;
    z-index: var(--firstPlan);
}

.text{
    padding: var(--spacing2);
    margin-bottom: var(--spacing2);
    position: relative;
    z-index: var(--firstPlan);
}

.blueSection {
    width: 5px;
    height: 100%;
    background-color: var(--primary);
    position: absolute;
    left: 0;
}

.button:hover {
    background-color: var(--light);
    color: var(--primary);
}

.textSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing1);
}

.notrelyceeImage{
    margin-bottom: var(--spacing1);
}

@media screen and (max-width: 767px) {
    .container{
        width: var(--clamp90);
    }
    .textSection{
        display:flex;
        flex-direction: column;
    }
}