/* HEADER */

header.container.event {
    height: auto;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0;
}

.event-image {
    background-color: red;
    width: 48%;
}

article {
    background-color: var(--primary);
    padding: var(--spacing1);
    width: 60%;
    min-height: 200px;
    border-radius: 0;
    position: absolute;
    right: 0;
}

.titre {
    width: 70%;
    margin: auto;
}

.titre h3 {
    --typography-spacing-vertical: 1rem;
    font-family: var(--fontTitle);
    font-weight: 200;
    text-transform: uppercase;
    color: var(--light);
    text-align: center;
    border: 2px solid var(--light);
    line-height: 150%;
    padding: var(--spacing);
    font-size: clamp(16px, 3vw, 50px);
    font-family: var(--fontTitle);
}

.event-text {
    --typography-spacing-vertical: .5rem;
    font-size: var(--sizeText);
    color: var(--light);
    padding: 0 var(--spacing1);
    height: 99px;
    overflow: auto;
}

[role="button"] {
    background-color: var(--secondary);
    font-size: .7rem;
    margin-left: var(--spacing1);
}

/***** ACTUALITÉS *****/

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing1);
}

.actu-image{
    
}

.second-title{
    margin: var(--spacing);
}

.grid .picto-program {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary);
    min-height: 70px;
    min-width: 70px;
}

.grid .picto-program img {
    width: 70%;
}

.grid .card {
    /* width: clamp(320px, 90vw, 450px); */
    background-color: var(--primary);
}

.card header {
    display: flex;
    align-self: flex-start;
}

.title-dernieresactus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100px;
}

.title-dernieresactus h4 {
    --typography-spacing-vertical: 0;
    padding: 3px var(--spacing1);
    color: var(--light);
    font-size: var(--sizeText);
    text-align: start;
    overflow: auto;
}

.orange-rectangle {
    width: 100px;
    background-color: var(--secondary);
    height: 5px;
}

.training-content p {
    padding: var(--spacing1) var(--spacing2);
    color: var(--light);
    font-size: .7rem;
}

.training-content [role="button"] {
    margin: 0 0 var(--spacing2) var(--spacing2);
}

MEDIA SCREEN @media screen and (max-width: 767px) {
    .blue-rectangle {
        width: 3px;
    }

    .grid {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 767px) {
    header.container.event {
        align-items: start;
    }

    .event-text {
        height: 85px;
    }
}

@media screen and (max-width: 576px) {
    header.container.event {
        width: 100vw;
        flex-direction: column;
    }

    .event-image {
        width: 100vw;
        height: 80vw;
    }

    header>article {
        position: relative;
        width: 100%;
    }
}
