.training {
    display: flex;
    flex-direction: column;
}

.training .second-title:nth-child(2) {
    margin: var(--spacing4) 0 var(--spacing1) 0;;
}

.training-articles {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing1);
}

.training-card {
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    height: auto;
    width: 100%;
    border-radius: 0;
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(15px);
    z-index: var(--firstPlan);
    transition: all .3s ease-in-out; 
}

.training-card:hover {
    transform:
    scale(1.02);
}

.blue-rectangle {
    background: var(--primary);
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease-in-out; 
    z-index: var(--thirdPlan);
}

.training-card:hover .blue-rectangle {
    width: 100%;
}

.training-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    position: relative;
    width: 55%;
    padding: var(--spacing3) var(--spacing2);
    z-index: var(--secondPlan);
}

.training-content > h4 {
    font-size: var(--sizeTitle2);
    z-index: var(--firstPlan);
}

.training-content > p {
    font-size: var(--sizeText);
    margin: var(--spacing1) 0;
    z-index: var(--firstPlan);
}

.training-content > h4, .training-content > p {
    transition: .2s ease-in-out;
}

.training-card:hover h4, .training-card:hover p {
    color: var(--light);
}

.orange-rectangle {
    background: var(--secondary);
    height: 3px;
    width: 25px;
    transition: all .2s .1s ease-in-out;
    z-index: var(--firstPlan);
}

.training-card:hover .orange-rectangle {
    width: 100px;
}

.training-content > a {
    font-size: var(--sizeText);
    z-index: var(--firstPlan);
}

.training-content [role="button"] {
    background-color: var(--secondary);
    border-color: var(--secondary);
    padding: var(--spacing);
    width: 130px;
}

.training-image {
    width: 45%;
    max-height: auto;
    z-index: var(--firstPlan);
}

.training-image img {
    height: 100%;
}

.training-card:nth-child(even) {
    flex-direction: row-reverse;
}

@media screen and (max-width: 767px) {
    main.container {
        width: var(--clamp90);
    }

    .training-card {
        flex-direction: column;
    }

    .training-image {
        width: 100%;
    }

    .training-content {
        width: 100%;
        order: 2;
        padding: var(--spacing1) var(--spacing2);
    }

    .training-card:nth-child(even) {
        flex-direction: column;
    }

    .training-card:hover {
        transform: none;
    }

    .training-content > h4, .training-content > p {
        color: var(--light);
    }

    .blue-rectangle {
        background: var(--primary);
        width: 100%;
    }

    .orange-rectangle {
        background: var(--secondary);
        height: 3px;
        width: 100px;
    }
}