.grid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing2);
}

.add-bar {
    --typography-spacing-vertical : 0;
    display: flex;
    align-items: center;
    gap: var(--spacing);
    
    padding: var(--spacing) 0;
    margin-bottom: var(--spacing3);
}

.add-btn {
    border-radius: 50%;
    padding: var(--spacing);
}

.add-bar > p {
    color: var(--primary);
}

.admin-card {
    background-color: var(--lowlight);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(15px);
}

.admin-img {
    width: 100%;
    min-height: 200px;
}

.content {
    position: relative;
}

.content > div {
    padding: var(--spacing1);
}

.content::before {
    content: " ";
    background: var(--primary);
    width: 4px;
    height: 100%;
    position: absolute;
}

.content h5, .content h6, .content p, .content ul > li {
    --typography-spacing-vertical: 0;
    color: var(--dark);
}


.content h5 {
    min-height: 131.25px;
    position: relative;
}

.content > div h5:first-child::after {
    content: " ";
    display: block;
    width: 70px;
    height: 10px;
    background-color: var(--secondary);
    position: absolute;
    bottom: 0;
}

.content h6 {
    font-size: var(--sizeText);
    margin-top: calc(var(--spacing3) / 2);
    margin-bottom: var(--spacing);
}

.content > div h6:nth-child(2) {
    min-height: 55px;
}

.content p {
    font-size: var(--sizeText);
}

.content p:nth-child(3), .content p:nth-child(4) {
    color: var(--grey);
    font-size: 0.7rem;
    font-style: italic;
}

.skills {
    min-height: 100px;
}

.content ul {
    display: flex;
    flex-wrap: wrap;
    gap: .2rem;
}

.content ul li {
    color: var(--light);
    list-style: none;
    background: var(--secondary);
    padding: 5px 20px;
    border-radius: 30px;
    font-size: .6rem;
    margin-bottom: .1rem;
}

.btn-card {
    display: flex;
    align-items: flex-end;
    gap: var(--spacing1);
}

.content [role="button"] {
    margin-top: var(--spacing2);
    padding: var(--spacing);
    font-size: var(--sizeText);
    width: 6rem;
    border: 2px solid var(--primary);
}

.btn-card button {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--primary);
    background-color: transparent;
    font-size: var(--sizeText);
    width: 6rem;
}

.content th {
    color: var(--dark);
    font-size: var(--sizeText);
    font-weight: bold;
    border-bottom: 3px solid var(--secondary);
}

.content tr:nth-child(even) {
    background-color: var(--tertiary);
}

.next-training {
    min-height: 235px;
}

.small-cell {
    width: 23%;
    height: 80px;
}

.large-cell {
    width: 60%;
    height: 60px;
}

@media screen and (max-width: 767px) {
    main.container {
        width: var(--clamp90);
    }

    .grid {
        grid-template-columns: 1fr;
    }
}