{% extends 'layout.html.twig' %}

{% block title %}
	Admin - Notre équipe -
	{{ parent() }}
{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/Admin/employee/add.css">
{% endblock %}

{% block content %}
	<main class="container">
		<div class="background-line"></div>
		<div class="main-title">
			<div class="title-content">
				<div class="bloc-square"></div>
				<h3>
					<span>Modifier</span><br/>
					un(e) employé(e)</h3>
			</div>
			<div class="second-title">
				<div class="bloc-rectangle"></div>
				<h4>à remplir</h4>
			</div>
		</div>
    {% include 'Admin/employee/_form.html.twig' %}
	</main>
{% endblock %}