<!-- HEADER -->
<header class="container">
	<div class="school-logo">
		<img src="assets/images/logo-school.jpeg" alt="logo school"/>
	</div>
	<div class="title">
		<h1>
			Lycée Professionnel
		</h1>
		<h2>
			<span class="string1">Jeannette</span>
			<span class="string2">Verdier</span>
		</h2>
	</div>
</header>
<!-- NAVBAR -->
<section class="container-fluid navbar">
	<div class="btn-burger">
		<button type="button" aria-label="toggle curtain navigation" class="nav-toggler">
			<span class="line l1"></span>
			<span class="line l2"></span>
			<span class="line l3"></span>
		</button>
	</div>

	<nav class="container">
		<div class="navbar-list">
			<ul class="navbar-ul">
				<li>
					<a href="#">Accueil</a>
				</li>
				<li>
					<a href="#">Notre lycée</a>
				</li>
				<li>
					<a href="#">Actualités</a>
				</li>
				<li>
					<a href="#">Formations</a>
				</li>
				<li>
					<a href="#">Contact</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="btn-login">
		<button>
			<span class="picto-login">
				<img src="assets/images/login.png" alt="pictogramme login"/>
			</span>
			<p>se connecter</p>
		</button>
	</div>
</section>
