@import url(style.css);

.myArticles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: var(--spacing1);
    margin: var(--spacing);
    margin-top: var(--spacing3);
    margin-bottom: var(--spacing5);
}

article {
    width: 200px;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    margin-bottom: var(--spacing3);
}

.myArticles h2 {
    margin: 0px;
}

.myArticles h3 {
    margin: 0px;
}

.container h1 {
    margin-top: var(--spacing2);
}

.container {
    width: var(--clamp60);
}

.myArticle {
    display: flex;
    flex-direction: column;
}

.picurePerson {
    align-self: flex-start;
    z-index: var(--secondPlan);
}

.picurePerson img {
    box-shadow: var(--shadow);
    width: 200px;
    height: 150x;
}

[role=link], a{
    color: var(--light);
}

.textPerson {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: var(--spacing);
    border-radius: 2px;
    background: var(--backgroundCard);
    box-shadow: var(--shadow);
    z-index: var(--secondPlan);
}

.textPerson h2 {
    font-size: 0.9rem;
    color: var(--dark);
}

.textPerson h3 {
    font-size: 0.7rem;
    margin: 0px;
    color: var(--dark);
    margin-left: var(--spacing);
}

.namePerson {
    display: flex;
}

button{
    color:var(--light);
}
@media screen and (max-width: 767px) {
    .myArticle {
        width: 100%;
        margin-right: 0px;
    }

    .myArticles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: var(--clamp90);
    }
}