@import url(style.css);

.container {
    width: var(--clamp60);
    display: flex;
    flex-direction: column;
}

.myArticles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing2);
    position: relative;
    align-self: center;
    z-index: var(--firstPlan);
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 425px;
    padding: 0;
}

.textPerson {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:0.5rem;
    width: 120px;
    height: 40px;
}

a {
    color: var(--light);
}

.textPerson h2 {
    font-size: 0.9rem;
    color: var(--dark);
    margin: 0;
    margin-top: 0.5rem;
}

.textPerson h3 {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
    color: var(--dark);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .myArticles {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .myArticles {
        grid-template-columns: repeat(1, 1fr);
    }

    .container {
        width: var(--clamp90);
    }
}