main .myArticles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--spacing2);
    position: relative;
    align-self: center;
    z-index: var(--firstPlan);
}

.add-bar {
    --typography-spacing-vertical : 0;
    display: flex;
    align-items: center;
    gap: var(--spacing);
    
    padding: var(--spacing) 0;
    margin-bottom: var(--spacing3);
    position: relative;
    z-index: var(--firstPlan);
}

.add-btn {
    border-radius: 50%;
    padding: var(--spacing);
}

.add-bar > p {
    color: var(--primary);
}

.add-bar > a {
    margin: 0;
    height: auto;
    width: auto;
}

.picurePerson {
    height: 180px;
}

main article {
    display: flex;
    flex-direction: column;
    padding: 0;
}

main .textPerson {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    padding: var(--spacing1);
    width: 100%;
}

main .textPerson::before {
    content: " ";
    background: var(--primary);
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

main a {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: var(--spacing);
    width: 120px;
    height: 40px;
    color: var(--light);
}

main .buttonAdd{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: var(--firstPlan);
    width: 100px;
    height: 50px;
}

main .textPerson h2 {
    --typography-spacing-vertical: .2rem;
    font-size: 0.9rem;
    color: var(--dark);
    width: 100%;
    min-height: 50px;
    position: relative;
}

main .textPerson h2::after {
    position: absolute;
    bottom: 0;
    left: 0;

    content: " ";
    width: 50px;
    height: 10px;
    background-color: var(--secondary);
}

main .textPerson h3 {
    font-size: 0.7rem;
    margin: var(--spacing) 0;
    color: var(--dark);
}

.btn-employee {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--spacing);
}

main .buttonSupprimer, .buttonModifier{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 5rem;
    color: var(--light);
    font-size: var(--sizeText);
}

main .buttonSupprimer {
    color: var(--primary);
    background-color: transparent;

}

@media screen and (max-width: 767px) {
    main.container {
        width: var(--clamp90);
    }
}

@media screen and (max-width: 593px) {
    main .myArticles {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .myArticles article  {
        width: 300px;
        margin: auto;
    }

    .picurePerson {
        min-width: 40%;
    }
}